<div class="modal-totally" id="modal">
    <div class="modal-header">
        <h3>Desculpe incomodar <span class="label label-primary"></span></h3>
    </div>
    <div  class="modal-body">
        <p>Mas detectamos que a sua avaliação não foi boa, por isso o Looky disponibiliza uma forma de pedir ajuda para todos os usuário do Looky.
        Gostaria de pedir ajuda para eles?</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary"  ng-click="editAskGlobal()">Pedir ajuda</button>
        <button class="btn btn-warning" ng-click="cancel()">Não pedir ajuda!</button>
    </div>
</div>